$bgcolor: #f8f8f8;
$buttoncolor: #ff3e79;
$headerSwiperCol: #7e7e82;

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.ttf');
}

@font-face {
  font-family: 'TTLakes-bold';
  src: url('../fonts/TTLakes-Medium.ttf');
}

.body {
  font-family: 'TTLakes', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $bgcolor;
  min-width: 320px;
}

.ul-clear {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hover:hover,
.hover:active {
  opacity: 0.5;
  transition-duration: 0.2s;
}

.button {
  width: 40px;
  height: 40px;
  border: 0px solid;
  background-color: $buttoncolor;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.slider-header-name {
  text-transform: uppercase;
  font-size: 16px;
  color: $headerSwiperCol;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
}

.blur {
  filter: blur(5px);
  overflow: hidden;
}
