$bgcolor: rgba(0, 0, 0, 0);
$white: #fff;

@media screen and (max-width: 400px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .remontBrands {
    .swiper-wrapper {
      display: flex;
      max-width: 768px;
      height: 100px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 10px;
    }
    .button-show-more {
      display: none;
    }
  }
  .remontTechno {
    .swiper-wrapper {
      display: flex;
      max-width: 768px;
      height: 190px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 10px;
    }
    .button-show-more {
      display: none;
    }
  }
  .swiper-prices {
    .swiper-wrapper {
      display: flex;
      max-width: 768px;
      height: 175px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 10px;
    }
    .swiper-slide {
      .prices__first-column::before {
        content: 'Ремонтные услуги';
        position: absolute;
        top: 10px;
        color: $headerSwiperCol;
      }

      .prices__second-column::before {
        content: 'Цена';
        position: absolute;
        top: 65px;
        color: $headerSwiperCol;
      }

      .prices__third-column::before {
        content: 'Срок';
        position: absolute;
        top: 120px;
        color: $headerSwiperCol;
      }

      .prices__fourth-column {
        position: absolute;
        top: 135px;
        left: 80px;
      }
    }
  }
}

@media (min-width: 769px) {
  .swiper-brands,
  .swiper-techno {
    .swiper-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;
      height: 173px;
      margin-bottom: 10px;
      overflow: hidden;
    }
  }

  .swiper-prices {
    .prices__table-header {
      display: table;
      width: 100%;
    }
    .swiper-wrapper {
      display: table;
      height: auto;
      margin-bottom: 10px;
    }
    .swiper-slide {
      display: table;
      width: 95%;
      height: 64px;
      text-align: start;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .footer__author {
    text-align: start;
  }
  .footer__offerta {
    text-align: end;
  }
  .prices__first-column {
    width: 40%;
  }
  .prices__second-column {
    width: 20%;
  }
  .prices__third-column {
    width: 20%;
  }
  .prices__table-header {
    display: table-header-group;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

@media (min-width: 600px) {
  .button-burger::after {
    content: url(../img/divider.svg);
    height: 32px;
    width: 2px;
    margin-left: 50px;
  }
  .header__logo {
    margin-left: 35px;
  }
  .header__right-pad {
    display: flex;
    margin-left: auto;
  }
  .content__article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .content__full-text {
    display: inline;
  }

  .content__topic-img {
    margin-top: 15px;
    width: 360px;
    height: 208px;
    border-radius: 15px;
  }
  .prices__footer {
    width: 420px;
  }
}

@media (min-width: 1050px) {
  .body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 1440px;
    min-width: 1360px;
    align-items: start;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    display: none;
  }
  .content__topic-img {
    width: 531px;
    height: 307px;
  }
  .content__text-more {
    display: inline;
  }
  .content__large-bar {
    margin-top: 24px;
  }
  .content__large-menu img {
    margin-left: 8px;
    margin-right: 32px;
  }
  .content__article {
    align-items: flex-start;
  }
  .content__right-mob {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  .button-tools::after {
    content: 'Оставить заявку';
    position: relative;
    right: 145px;
    top: 10px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }
  .button-tools {
    display: flex;
    margin-right: 160px;
  }
  .button-search::before {
    content: 'Статус ремонта';
    position: relative;
    right: 140px;
    top: 10px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
  }
  .button-search {
    display: flex;
    margin-right: 10px;
  }
  .content__menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
  }
  .content__menu li:nth-child(6) {
    margin-left: 34px;
  }
  .main {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
  }
  .menu {
    display: flex;
    position: static;
    border: none;
    width: 320px;
    max-height: 900px;
    box-shadow: none;
  }
  .menu__header {
    .button-alt-burger:first-child {
      display: none;
    }
  }
  #modalFeedback,
  #modalCall {
    width: 520px;
    background-color: $bgcolor;
  }
  .modal {
    position: relative;
    right: -30px;
    top: -20px;
    height: 100%;
    background-color: $white;
    margin-left: 60px;
    padding-left: 30px;
    padding-right: 35px;
    .button {
      position: absolute;
      left: -85px;
      top: 40px;
    }
  }
}
