$buttoncolor: #ff3e79;
$whitecolor: #fff;
$gradcolor: #f8f8f8;
$swiperBordCol: #eaeaea;
$headerSwiperCol: #7e7e82;

.remontTechno {
  margin-top: 32px;

  .remontTechno__swiper {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .remontTechno__header {
    margin-left: 26px;
    align-content: center;
    height: 80px;
    background: linear-gradient(90deg, $gradcolor, $whitecolor);
  }

  .remontTechno__header-name {
    text-transform: uppercase;
    font-size: 16px;
    color: $headerSwiperCol;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  .remontTechno__slide {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border: 1px solid $swiperBordCol;
    border-radius: 6px;
    width: 240px;
    height: 160px;
    background-color: $whitecolor;
  }

  .button-link {
    background: url(../img/brends/brand-link.svg) no-repeat center;
    position: relative;
    top: 40%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border: 2px solid $buttoncolor;
    border-radius: 50%;
  }

  .button-show-more {
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 16px;
    border: none;
    background: none;
    width: 144px;
    height: 24px;
    margin-left: 30px;
    background-image: url(../img/expand.svg);
    background-repeat: no-repeat;
  }
}
