$buttoncolor: #ff3e79;
$whitecolor: #fff;
$gradcolor: #f8f8f8;
$swiperBordCol: #eaeaea;
$headerSwiperCol: #7e7e82;
$linkColor: #1b1c21;

.prices {
  margin-top: 32px;

  .prices__header {
    margin-left: 26px;
    align-content: center;
    height: 80px;
    background: linear-gradient(90deg, $gradcolor, $whitecolor);
  }

  .prices__table-header {
    display: none;
    color: $headerSwiperCol;
  }

  .prices__header-name {
    text-transform: uppercase;
    font-size: 16px;
    color: $headerSwiperCol;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    align-items: start;
    gap: 16px;
    border: 1px solid $swiperBordCol;
    border-radius: 6px;
    width: 240px;
    height: 200px;
    background-color: $whitecolor;
    padding: 16px;
  }
}

.prices__footer {
  font-size: 14px;
  padding: 25px;
}

.prices__commercial-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: $linkColor;
}

.prices__commercial-link::after {
  content: url(../img/Line.svg);
  width: 6px;
  height: 10px;
  position: relative;
  left: 7px;
}

.prices__button {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: $buttoncolor;
  color: $whitecolor;
  text-transform: uppercase;
  position: relative;
  left: 50px;
}

.prices__button::after {
  content: url(../img/dropdown.svg);
  position: relative;
  left: 10px;
}
